#editor {
    position: relative;
}

#editor p {
}

#editor-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 1em;
    background-color: black;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 50% {
	opacity: 1;
    }
    50.01%, 100% {
	opacity: 0;
    }
}
